proxy_cache_path  /tmp/cors
                  levels=1:2
                  keys_zone=cors:10m
                  max_size=10g
                  inactive=60m
                  use_temp_path=off;

server {
    listen 80;
    server_name cors.subtechs.com;

    root /opt/projects/cors/bin;

    location /static {
      try_files $uri /images/default.gif;
    }

    location / {
        proxy_cache cors;
        proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;

        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';

        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/cors.sock;
    }
}
