uwsgi_buffering on;
uwsgi_cache_path  /tmp/cors levels=1:2 keys_zone=cors:10m max_size=1g inactive=60m;

map $request_method $purge_method {
    HEAD 1;
    default 0;
}

server {
    listen 80;
    server_name cors.subtechs.com;

    # Cache Config
    # uwsgi_cache_background_update on # Requires ver 1.11.10+
    uwsgi_cache_bypass $http_pragma $cookie_nocache $arg_nocache$arg_comment;

    root /opt/projects/cors/bin;

    location /static {
      try_files $uri /images/default.gif;
    }

    location / {
        uwsgi_cache cors;
        uwsgi_cache_key "$scheme$host$request_uri";
        uwsgi_cache_purge $purge_method;
        uwsgi_cache_valid     300m; # Required for caching to work at all
        uwsgi_cache_valid 404 1m;

        #uwsgi_cache_use_stale error timeout http_500 http_502 http_503 http_504;

        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, HEAD';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
        add_header 'X-Cache-Status' $upstream_cache_status;
        add_header 'X-Cache-Request' $purge_method;

        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/cors.sock;
    }
}
