uwsgi_cache_path  /tmp/cors levels=1:2 keys_zone=cors:10m max_size=10g inactive=60m;
uwsgi_cache_key "$scheme$request_method$host$request_uri";

server {
    listen 80;
    server_name cors.subtechs.com;

    # Cache Config
    # uwsgi_cache_background_update on # Requires ver 1.11.10+
    #uwsgi_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
    #uwsgi_cache_bypass $http_pragma    $http_authorization;

    root /opt/projects/cors/bin;

    location /static {
      try_files $uri /images/default.gif;
    }

    location / {
        uwsgi_cache cors;
        #uwsgi_cache_use_stale error timeout http_500 http_502 http_503 http_504;

        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
        add_header 'X-Proxy-Cache' $upstream_cache_status;

        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/cors.sock;
    }
}
